.container{
  width: 100%;
  max-width: 960px;
  clear: both;
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 12%;
  margin-left:15%;
  margin-right: 15%;
  margin-top:3%;
}

p{
 line-height: 1.6;
font-family: Arial, Helvetica, sans-serif;
}


